body {
  
}

.card-container.fill
{
	
}

#topbar-text
{
	color:#ffd139 !important;
}

#challengetext-word
{
	display:block !important;
	position: absolute !important;
    bottom: 0 !important;
    font-size: 1vw !important;
    right: 0 !important;
    color: #ffd139 !important;
}

#challengetext-word:hover
{
	color: #caa429 !important;
}

#challengetext-word span
{
	text-transform: capitalize !important;
	padding-right:0.1em !important;
}